/* SPDX-License-Identifier: Apache-2.0 */
.App__functions-section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.App__variables-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
